body {
  height: 100%;
}

.content {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.left-column,
.right-column {
  padding: $base-spacing;
  flex: 0 0 100%;
}

.left-column {
  background-color: $dark-blue;
  color: $white;
}

.right-column {
  background-color: $white;
  color: $dark-gray;
}

@include media($large-screen) {
  .left-column,
  .right-column {
    flex: 0 0 50%;
  }
}
