<div class="timer-explanation">
  This blog will delete itself in...
</div>

<div class="timer" data-expiration="<%= expiration_time %>">
  <span class="timer-count timer-count-days"></span>
  <span class="timer-label timer-label-days">days</span>

  <span class="timer-count timer-count-hours"></span>
  <span class="timer-label timer-label-hours">hours</span>

  <span class="timer-count timer-count-minutes"></span>
  <span class="timer-label timer-label-minutes">minutes</span>

  <span class="timer-count timer-count-seconds"></span>
  <span class="timer-label timer-label-seconds">seconds</span>
</div>

<div class="timer-explanation right-aligned">
  ...unless I post again before then.
</div>

<div class="site-explanation">
  <p>
  This blog is an experimental tool
  designed to help form more consistent writing and publishing habits.
  </p>

  <p>
  If I go for more than one week without posting anything new,
  everything I've posted so far will be automatically deleted.
  The constant fear of losing work
  should provide steady and sustained motivation to write and publish.
  </p>
</div>
